/* Reset + base styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains', monospace;
    background-color: #0D1F22;
}
  
* {
    box-sizing: border-box;
}

.topbar {
    background-color: #195660;
    border-radius: 30px;
    grid-column: 2 / span 10;
    height: 88px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titlediv {
    background-color: #5B9279;
    grid-column: 2 / span 10;
    border-radius: 30px;
    height: 147px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.entrydiv {
    background-color: #517E6A;
    grid-column: 2 / span 10;
    border-radius: 30px;
    height: 147px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
  }
  
.input-wrapper input:focus {
outline-color: lightcoral;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }

.title {
    font-size: 48;
    color: #E0E0E0;
    grid-column: 5 / span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subtitle {
    font-size: 40;
    color: #E0E0E0;
    grid-column: 5 / span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.check {
    grid-column: 6 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}